header {
  background: #8d8e7c;
  padding: 10px 0;
}
header a {
  color: #676a57;
  text-decoration: none;
}
header a:hover {
  color: #676a57;
  text-decoration: none;
}
header h2 {
  margin: 0;
  font-family: "Caudex", serif;
}
header .menu-button svg {
  max-width: 52px;
  max-height: 52px;
}
header .menu-button svg path {
  fill: #676a57;
}

body, html {
  font-family: "Montserrat", serif;
  overflow-x: hidden;
}

.container {
  max-width: 1640px;
}

section {
  background: white;
}

.banner {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  background: none;
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/brand/bannerPau.jpeg) no-repeat center center/cover;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.banner .container {
  position: relative;
  z-index: 1;
}
.banner::after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(103, 106, 87, 0.5);
  z-index: 0;
}
.banner .content-banner {
  width: 100%;
}
.banner .reloj {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  color: white;
}
.banner .reloj > div {
  min-width: 57px;
}
.banner .reloj p {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
}
.banner .reloj span {
  font-family: "Caudex", serif;
  font-size: 22px;
}
.banner h1 {
  font-size: 115px;
  max-width: 450px;
  line-height: 100px;
  margin: 30px auto 40px;
  color: white;
  font-family: "Caudex", serif;
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 60px;
    line-height: 50px;
    max-width: 90%;
  }
}

.fecha {
  background: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 200px;
  font-family: "Caudex", serif;
  padding: 15px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .fecha {
    padding: 15px;
  }
}
.fecha p {
  display: block;
  margin: 0;
  padding: 0 40px;
  color: #676a57;
}
.fecha p:last-child {
  border-left: solid 1px #676a57;
}
@media screen and (max-width: 768px) {
  .fecha p {
    padding: 0 10px;
  }
}

.nuestra-boda {
  background: #d8c2d8;
  color: #937292;
  padding: 50px 15px 150px;
}
.nuestra-boda p {
  font-weight: 300;
}
.nuestra-boda p strong {
  font-family: "Caudex", serif;
  color: #937292;
}
.nuestra-boda svg {
  margin: 0 auto;
  max-width: 144px;
}
.nuestra-boda h2 {
  line-height: 50px;
  font-family: "Caudex", serif;
}
.nuestra-boda-img {
  padding-bottom: 100px;
  color: #676a57;
}
@media screen and (max-width: 768px) {
  .nuestra-boda-img .container .row > div:first-child img {
    margin-top: -100px;
  }
}
.nuestra-boda-img img {
  max-width: 490px;
  margin: -100px 0 0;
}
@media screen and (max-width: 768px) {
  .nuestra-boda-img img {
    margin: 0px 0 0;
    max-width: 90%;
  }
}
.nuestra-boda-img h3 {
  padding: 50px 0 30px;
  margin: 0;
}

.title-60 {
  font-size: 60px;
  font-family: "Caudex", serif;
}
@media screen and (max-width: 768px) {
  .title-60 {
    font-size: 40px;
    line-height: 40px;
  }
}

.historia .left-content {
  background: #d8c2d8;
  color: #937292;
  position: relative;
  padding: 100px 30px;
}
.historia .left-content::before {
  content: "";
  display: block;
  width: 100%;
  left: -100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #d8c2d8;
}
.historia .left-content p {
  margin: 0;
}
.historia .left-content .title {
  font-family: "Caudex", serif;
  font-size: 22px;
  padding-bottom: 23px;
}
.historia .text-historia {
  padding: 0 15px;
  max-width: 390px;
  color: #676a57;
}
.historia .text-historia p {
  font-size: 22px;
  line-height: 28px;
  font-family: "Caudex", serif;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .historia .text-historia p {
    font-size: 16px;
    line-height: 18px;
  }
}
.historia .img {
  max-width: 586px;
}

.parrafo {
  background: #8d8e7c;
  position: relative;
  padding: 100px 0;
}
.parrafo::after {
  content: "";
  display: block;
  width: 100%;
  right: -99%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #8d8e7c;
}
@media screen and (max-width: 768px) {
  .parrafo {
    margin-top: 50px;
    padding: 65px 0;
  }
}
.parrafo svg {
  width: 100%;
  max-width: 250px;
}
@media screen and (max-width: 768px) {
  .parrafo svg {
    max-width: 150px;
  }
}
.parrafo img {
  max-width: 390px;
  display: block;
  margin: 0 auto 100px;
}
.parrafo p {
  display: block;
  margin: 0 auto 42px;
  max-width: 337px;
  color: white;
}

.registro {
  position: relative;
  overflow: hidden;
  color: #676a57;
}
@media screen and (max-width: 768px) {
  .registro iframe {
    width: 100%;
  }
}
.registro .text-registro {
  position: relative;
  padding: 200px 0;
}
@media screen and (max-width: 768px) {
  .registro .text-registro {
    padding: 50px 30px;
  }
}
.registro .img-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .registro .img-absolute {
    position: relative;
    width: 100%;
  }
}
.registro p {
  display: block;
  max-width: 341px;
}
@media screen and (max-width: 768px) {
  .registro p {
    max-width: initial;
  }
}

.info {
  padding: 100px 0;
  color: #676a57;
}
@media screen and (max-width: 768px) {
  .info {
    padding: 50px 0;
  }
}
.info .colores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info .colores .colors {
  padding: 30px 0 0;
}
.info .colores .colors > div {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 15px;
}
.info .colores .colors .color1 {
  background: #676a57;
}
.info .colores .colors .color2 {
  background: #8d8e7c;
}
.info .colores .colors .color3 {
  background: #937292;
}
.info .colores .colors .color4 {
  background: #caa3ca;
}
.info .colores .colors .color5 {
  background: #d8c2d8;
}
.info .colores .cotenido {
  max-width: 450px;
  margin: 0 auto;
}

footer {
  padding: 40px 30px;
  background: #d8c2d8;
  color: #937292;
}
footer a {
  color: #937292;
  text-decoration: none;
  padding-right: 30px;
}
footer a:hover {
  color: #caa3ca;
}
footer p {
  max-width: 250px;
}
footer p strong {
  font-size: 22px;
  font-family: "Caudex", serif;
}

.content-line-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  max-width: 780px;
  overflow: hidden;
}
.content-line-time::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: white;
}
.content-line-time .item {
  width: 100%;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  position: relative;
  min-height: 250px;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.content-line-time .item:nth-child(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.content-line-time .item svg {
  max-width: 50px;
  max-height: 50px;
}
.content-line-time .item p {
  width: 100%;
}
.content-line-time .item::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: #937292;
}
@media screen and (max-width: 768px) {
  .content-line-time {
    padding: 20px 0;
    margin: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-line-time::before {
    width: 4px;
    height: 100%;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .content-line-time .item {
    width: 80%;
    max-width: 300px;
    min-height: initial;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 30px 0;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-line-time .item p {
    width: initial;
  }
  .content-line-time .item::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: #937292;
  }
  .content-line-time .item svg {
    max-width: 50px;
    max-height: 50px;
  }
  .content-line-time .item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preguntas .images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.preguntas .images svg {
  max-height: 200px;
}
.preguntas .images svg path, .preguntas .images svg circle {
  fill: #676a57;
}
@media screen and (max-width: 768px) {
  .preguntas .images svg {
    max-height: 100px;
  }
}

.content-line-time .item svg path, .content-line-time .item svg polygon, .content-line-time .item svg rect, .content-line-time .item svg circle {
  fill: #937292;
}
/*# sourceMappingURL=main.css.map */